body {
  padding-bottom: 40px;
}
.card h5 {
  margin-bottom: 10px;
}
#alerts {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1050;
  width: 320px;
}

nav {
  background-color: rgb(49, 96, 158);
}

#navMain {
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-right: 50px;
}
